<!DOCTYPE html>
<html>
<head>
  <title>Webui</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "/assets/style", media: "all" %>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.jade.min.css" />
</head>
<body>
  <main class="container-fluid" hx-boost="true">
    <%= yield %>
  </main>

  <script src="https://unpkg.com/htmx.org@1.9.12/dist/htmx.min.js"></script>
</body>
</html>
